.gradient {
  background-image: linear-gradient(90deg, #451C60 0%, #352F4496 100%), url('https://pixfeeds.com/images/sports/volleyball/1280-183064576-volleyball-in-an-empty-gym.jpg');
    height: 400px;
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed
}
.text-7xl {
    font-size: 6.75rem;
  }  
.leading-title {
  line-height: 5.75rem
}